---
rabbitmq:
  host: 127.0.0.1
  port: 5672
  user: acme-01
  password: 'h&*42Ot170#8!%&0x@D8v%^4'
  vhost: pki
  csr_queue: csr
  cert_queue: cert
  csr_exchange: csr
  cert_exchange: cert
  data_encryption_key: "ACMEEncryptionKey"
  data_encryption_module: "pkcs11"
  data_validation_key: "ACMEValidationKey"
  data_validation_module: "pkcs11"
  peer_encryption_public_key_pem: |
    -----BEGIN PUBLIC KEY-----
    MIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQAuijEP0rb6mTZn/kO70Qw1Mfm7d+Q
    THl9zcj7bxvfR5LofPxJCQOyZMMbcx6UeGy4lX80ZZ2v5ozlouSo0ntT1I4Au4e/
    MpNlt+XYc9cmzuR/6zVqIJ8Nf+ZTi+g9yK+zZ6WAEVuAryPeh487PbmKnRBvS+cl
    Ud73W4QiGGIYzb+NW5w=
    -----END PUBLIC KEY-----
  peer_validation_public_key_pem: |
    -----BEGIN PUBLIC KEY-----
    MIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQAqDMROiqQizFXXpfPkdcv9pntS06B
    Vy3kOODsf7TuZbEBPYY5ODJq4KtewP8PDN6ggj7yPfOKkX9UBzUZwBbpTAkB9ykN
    MXTlhVXV0J/dstlEasO6JetEIGKDefbQ4SqUWGwgZ7mA+QO6nrOl22iAON/YVQYe
    95iANsLjkSF/K+Oh2ms=
    -----END PUBLIC KEY-----

pkcs11:
  private_keys:
    - label: "ACMEEncryptionKey"
      slot: "0x52df7a54"
      slot_pin: "123456"
    - label: "ACMEValidationKey"
      signature_algorithm: "ECDSA"
      hashing_algorithm: "SHA512"
      slot: "0x52df7a54"
      slot_pin: "123456"
  chroot_dir: "/tmp/pkcs11"
  lib_path: "/usr/local/lib/softhsm/libsofthsm2.so"
  bin_path: "/usr/bin/pkcs11-tool"
  additional_chroot_files:
    - "/etc/softhsm2.conf"
  additional_chroot_dirs:
    - "/var/lib/softhsm"

logging:
  directory: "./logs/"
  log_level: "DEBUG"
  log_root: "vism_acme"

vism_acme:
  security:
    data_validation:
      enabled: true
      module: "pkcs11"
      validation_key: "ACMEValidationKey"
    data_encryption:
      enabled: true
      module: "pkcs11"
      encryption_key: "ACMEEncryptionKey"

  data_exchange:
    module: "rabbitmq"
    module_args:
      csr_exchange: "csr"

  profiles:
    - name: "default"
      ca: "service_ca"
      ca_pem: |
        -----BEGIN CERTIFICATE-----
        MIIB7zCCAaGgAwIBAgIUBW0qHaEiN1mWZ1oR6HYHU1HuwckwBQYDK2VwMB8xCzAJ
        BgNVBAYTAkVFMRAwDgYDVQQDDAdSb290IENBMB4XDTI1MTAyNDA3MTk1NFoXDTM1
        MTAyMjA3MTk1NFowIjELMAkGA1UEBhMCRUUxEzARBgNVBAMMClNlcnZpY2UgQ0Ew
        KjAFBgMrZXADIQDAxNiphGzvEmzLLX8WS73DJzbgG7UhzUH9eJIagneGO6OB6zCB
        6DBEBggrBgEFBQcBAQQ4MDYwNAYIKwYBBQUHMAKGKGh0dHBzOi8vY2Euc2FhcnRz
        Lmxhbi9wdWJsaWMvcm9vdF9jYS5jcnQwEgYDVR0TAQH/BAgwBgEB/wIBADAOBgNV
        HQ8BAf8EBAMCAQYwHQYDVR0OBBYEFLf4rlvfMSKh+B8J+HR1om9Lcd1WMDwGA1Ud
        HwQ1MDMwMaAvoC2GK2h0dHBzOi8vY2Euc2FhcnRzLmxhbi9wdWJsaWMvc2Vydmlj
        ZV9jYS5jcmwwHwYDVR0jBBgwFoAUxepM/pERPcN9H1ILBja2+Yhr8sQwBQYDK2Vw
        A0EARAmFTmZNJhWQLEDE8xjYZBPXL/0MO3HF2lFKOCvktvZIvUewF0v3cuukkVIb
        4RgHDgZsaGfZLUqx53n6qM5YCA==
        -----END CERTIFICATE-----
      default: true
      acl:
        - domain: "www.example.com"
          clients:
            - "127.0.0.1"
        - domain: "example.com"
          clients:
            - "127.0.0.1"
      module_args:
        extension: "service"

  database:
    host: 127.0.0.1
    port: 15432
    database: 'vism_acme'
    username: 'vism_acme'
    password: 'vism_acme'

  api:
    host: 127.0.0.1
    port: 8080